<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>

		<typeAlias type="com.tp.travely.member.model.vo.Member" alias="member" />

		<!-- notice alias 추가 (나현성) -->
		<typeAlias type="com.tp.travely.notice.model.vo.Notice" alias="notice" />

		<!-- tour alias 추가 (전유진) -->
		<typeAlias type="com.tp.travely.tour.model.vo.Tour" alias="tour" />
		
		<!-- 최현호 -->
		<typeAlias type="com.tp.travely.board.model.vo.Board" alias="board" />
		<typeAlias type="com.tp.travely.board.model.vo.BoardImg" alias="boardImg" />
		<!-- 김동현 -->
		<typeAlias type="com.tp.travely.tour.model.vo.City" alias="city"/>
		<typeAlias type="com.tp.travely.tour.model.vo.Districts" alias="area"/>

		<!-- alias 추가 (전유진) - 2024.06.11 -->
		<typeAlias type="com.tp.travely.tour.model.vo.Leports" alias="leports" />
		<typeAlias type="com.tp.travely.tour.model.vo.Lodging" alias="lodging" />
		<typeAlias type="com.tp.travely.tour.model.vo.Restaurant" alias="restaurant" />
		<typeAlias type="com.tp.travely.tour.model.vo.TourImg" alias="tourImg" />
		<typeAlias type="com.tp.travely.tour.model.vo.TourSpot" alias="tourSpot" />
		
		<!-- alias 추가 (전유진) - 2024.06.12 -->
		<typeAlias type="com.tp.travely.tour.model.vo.LeportsData" alias="led" />
		<typeAlias type="com.tp.travely.tour.model.vo.LodgingData" alias="lod" />
		<typeAlias type="com.tp.travely.tour.model.vo.RestaurantData" alias="rd" />
		<typeAlias type="com.tp.travely.tour.model.vo.TourSpotData" alias="tsd" />
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/board-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/admin-mapper.xml" />

				<!-- notice mapper 추가 (나현성) -->
		<mapper resource="/mappers/notice-mapper.xml" />

				<!-- tour mapper 추가 (전유진) -->
		<mapper resource="/mappers/tour-mapper.xml" />

	</mappers>
	
</configuration>  





