<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

 <resultMap type="member" id="memberResultSet">
  		<result column="USER_NO" property="userNo"/>
  		<result column="USER_ID" property="userId"/>
  		<result column="USER_PWD" property="userPwd"/>
  		<result column="NICK_NAME" property="nickName"/>
  		<result column="NAME" property="name"/>
  		<result column="AGE" property="age"/>
  		<result column="EMAIL" property="email"/>
  		<result column="PHONE" property="phone"/>
  		<result column="ADDRESS" property="address"/>
  		<result column="GENDER" property="gender"/>
  		<result column="CHANGE_NAME" property="changeName"/>
  		<result column="CREATE_DATE" property="createDate"/>
  		<result column="MODIFY_DATE" property="modifyDate"/>
  		<result column="STATUS" property="status"/>  
  </resultMap>
  
  <resultMap type="board" id="adminBoardResultSet">
	 	<result column="BOARD_NO" property="boardNo"/>
	 	<result column="BOARD_TITLE" property="boardTitle"/>
	 	<result column="BOARD_CONTENT" property="boardContent"/>
	 	<result column="CREATE_DATE" property="createDate"/>
	 	<result column="COUNT" property="count"/>
	 	<result column="STATUS" property="status"/>
	 	<result column="USER_NO" property="userNo"/>
 	</resultMap>

<select id="adminMemberList"
		resultMap="memberResultSet">
SELECT *
  FROM MEMBER
</select>


<select id="adminBoardListView"
		resultMap="adminBoardResultSet">
SELECT *
	FROM BOARD
</select>

<update id="boardSafe"
		parameterType="_int">
UPDATE BOARD
SET STATUS='Y'
WHERE BOARD_NO = #{boardNo}
</update>

<update id="boardDelate"
		parameterType="_int">
UPDATE BOARD
SET STATUS='N'
WHERE BOARD_NO = #{boardNo}
</update>

<select id="genderCount"
		resultType="com.tp.travely.admin.service.GenderCount">
SELECT 
    GENDER,
    COUNT(*) AS COUNT
FROM 
    MEMBER
WHERE STATUS='Y'
GROUP BY 
    GENDER	
</select>

<select id="tourTypeCount"
	resultType="map">
SELECT COUNT(CASE WHEN TOUR_TYPE='관광지' THEN 1 END) AS "SPOT",
COUNT(CASE WHEN TOUR_TYPE='레포츠' THEN 2 END) AS "LEPORTS",
COUNT(CASE WHEN TOUR_TYPE='숙박' THEN 3 END) AS "LODGING",
COUNT(CASE WHEN TOUR_TYPE='음식점' THEN 4 END) AS "RESTAURANT"
FROM TOUR
</select>

<select id="uploadCount"
	resultType="map">
SELECT CREATE_DATE AS "CREATE",COUNT(*) AS "COUNT"
FROM BOARD
WHERE CREATE_DATE > SYSDATE-7
GROUP BY CREATE_DATE
ORDER BY CREATE_DATE
</select>


<update id="memberSafe"
		parameterType="_int">
UPDATE MEMBER
SET STATUS='Y'
WHERE USER_NO = #{userNo}
</update>

<update id="memberDelate"
		parameterType="_int">
UPDATE MEMBER
SET STATUS='N'
WHERE USER_NO = #{userNo}
</update>


</mapper>