<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

 <resultMap type="board" id="boardResultSet">
 	<result column="BOARD_NO" property="boardNo"/>
 	<result column="BOARD_TITLE" property="boardTitle"/>
 	<result column="BOARD_CONTENT" property="boardContent"/>
 	<result column="CREATE_DATE" property="createDate"/>
 	<result column="COUNT" property="count"/>
 	<result column="STATUS" property="status"/>
 	<result column="USER_NO" property="userNo"/>
 
 </resultMap>
 
  <resultMap type="boardImg" id="boardImgResultSet">
 	<result column="IMG_NO" property="imgNo"/>
 	<result column="CHANGE_NAME" property="changeName"/>
 	<result column="FILE_LEVEL" property="fileLevel"/>
 	<result column="STATUS" property="status"/>
 	<result column="BOARD_NO" property="boardNo"/>
 	
 </resultMap>
 
 <resultMap type="member" id="memberResultSet">
 	<result column="USER_NO" property="userNo"/>
 	<result column="NICK_NAME" property="nickName"/>
 	<result column="CHANGE_NAME" property="changeName"/>
 </resultMap>
 
 <resultMap type="boardLike" id="boardLikeResultSet">
 	<result column="USER_NO" property="userNo"/>
 	<result column="BOARD_NO" property="boardNo"/>
 </resultMap>
 
 <resultMap type="reply" id="replyResultSet">
 	<result column="REPLY_NO" property="replyNo"/>
 	<result column="REPLY_CONTENT" property="replyContent"/>
 	<result column="CREATE_DATE" property="createDate"/>
 	<result column="MODIFY_DATE" property="modifyDate"/>
 	<result column="STATUS" property="status"/> 	
 	<result column="USER_NO" property="userNo"/>
 	<result column="BOARD_NO" property="boardNo"/>
 </resultMap>
 
 
 <!-- 게시글 갯수 구하는 쿼리문 -->
<select id="selectListCount"
		resultType="_int">
	SELECT COUNT(*)
	  FROM BOARD
	 WHERE STATUS = 'Y'
</select>
 
 <!-- 게시글 작성 쿼리문 -->
<insert id="insertBoard"
		parameterType="board">
INSERT INTO BOARD (BOARD_NO,
                   BOARD_TITLE,
                   BOARD_CONTENT,
                   USER_NO)
               VALUES (SEQ_BOARD_NO.NEXTVAL,
                        #{boardTitle},
                        #{boardContent},
                        #{userNo})
</insert>

<!-- 게시글이미지 작성 쿼리문 -->
<insert id="insertBoardImg"
		parameterType="boardImg">
	INSERT INTO BOARD_IMG (IMG_NO,
		                   CHANGE_NAME,
		                   FILE_LEVEL,
		                   BOARD_NO)
		               VALUES (SEQ_BOARD_IMG_NO.NEXTVAL,
		                        #{changeName},
		                        #{fileLevel},
		                        SEQ_BOARD_NO.CURRVAL)
</insert>

<!-- 게시글 목록조회 쿼리문 -->
<select id="selectListBoard"
		resultMap="boardResultSet">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, 
		 CASE 
        WHEN (SYSDATE - CREATE_DATE) * 24 * 60 &lt; 5 THEN '방금 전'
        WHEN (SYSDATE - CREATE_DATE) * 24 &lt; 1 THEN TRUNC((SYSDATE - CREATE_DATE) * 24 * 60) || '분 전'
        WHEN (SYSDATE - CREATE_DATE) * 24 &lt; 24 THEN TRUNC((SYSDATE - CREATE_DATE) * 24) || '시간 전'
        ELSE TRUNC(SYSDATE - CREATE_DATE) || '일 전'
    END AS CREATE_DATE, COUNT, STATUS, USER_NO
	  FROM BOARD
	 WHERE STATUS = 'Y'
	 ORDER BY BOARD_NO DESC

</select>

<!-- 조회수 증가용 쿼리문 -->
<update id="increaseCount"
		parameterType="board">
	UPDATE BOARD
	  SET COUNT = COUNT + 1
	WHERE STATUS = 'Y'
	  AND BOARD_NO = #{boardNo}

</update>


<!-- 게시글 목록 썸네일 조회 쿼리문 -->
<select id="selectListBoardImg"
		resultMap="boardImgResultSet">
		SELECT *
	  FROM BOARD_IMG
	 WHERE STATUS = 'Y'
	   AND FILE_LEVEL = 1
	 ORDER BY IMG_NO DESC
</select>
	
	
<!-- 게시글 상세조회 쿼리문 -->
<select id="selectBoard"
		resultMap="boardResultSet"
		parameterType="_int">
	SELECT BOARD_NO
       ,BOARD_TITLE
       ,BOARD_CONTENT
       ,TO_CHAR(CREATE_DATE, 'MM/DD') AS CREATE_DATE
       ,COUNT
       ,STATUS
       ,USER_NO
	  FROM BOARD
	 WHERE STATUS = 'Y'
	   AND BOARD_NO = #{boardNo}
</select>

<!-- 게시글이미지 상세조회 쿼리문 -->
<select id="selectBoardImg"
		resultMap="boardImgResultSet"
		parameterType="_int">
	SELECT *
	  FROM BOARD_IMG
	 WHERE STATUS = 'Y'
	   AND BOARD_NO = #{boardNo}
</select>

<!-- 게시글 회원 프로필조회 -->
<select id="selectMember"
		resultMap="memberResultSet">
SELECT USER_NO, 
       NICK_NAME,
       CHANGE_NAME
  FROM MEMBER
JOIN BOARD USING(USER_NO)
  WHERE MEMBER.STATUS = 'Y'
    AND BOARD.STATUS = 'Y'
  ORDER BY BOARD_NO DESC
</select>

<!-- 게시글 회원프로필 상세조회 -->
<select id="selectDetailMember"
		resultMap="memberResultSet"
		parameterType="_int">
	SELECT USER_NO, 
	       NICK_NAME,
	       CHANGE_NAME
	  FROM MEMBER
	JOIN BOARD USING(USER_NO)
	  WHERE MEMBER.STATUS = 'Y'
	    AND BOARD.STATUS = 'Y'
	    AND BOARD_NO = #{boardNo}
	

</select>

<!-- 게시글 좋아요 누름 체크 여부 -->
<select id="likeCheck"
		resultType="int"
		parameterType="boardLike">
	SELECT COUNT(*)
	  FROM "BOARD_LIKE"
	 WHERE USER_NO = #{userNo}
	   AND BOARD_NO = #{boardNo}
</select>

<!-- 좋아요 insert -->
<insert id="insertLike"
		parameterType="boardLike">
	INSERT INTO "BOARD_LIKE" VALUES(#{userNo},
							 		#{boardNo})
</insert>

<!-- 좋아요 delete -->
<delete id="deleteLike"
		parameterType="boardLike">
	DELETE
	  FROM "BOARD_LIKE"
	 WHERE USER_NO = #{userNo}
	   AND BOARD_NO = #{boardNo}
</delete>

<!-- 좋아요 게시글별 총 갯수 구하기 -->
<select id="likeListCount"
		parameterType="_int"
		resultType="int">
	SELECT COUNT(*)
	  FROM BOARD_LIKE
	 WHERE BOARD_NO = #{boardNo}
</select>

<!-- 댓글 작성용  -->
<insert id="insertReply"
		parameterType="reply">
	INSERT INTO REPLY(REPLY_NO,
                  REPLY_CONTENT,
                  USER_NO,
                  BOARD_NO)
            VALUES(SEQ_REPLY_NO.NEXTVAL,
                   #{replyContent},
                   #{userNo},
                   #{boardNo})	

</insert>

<!-- 댓글 목록 조회용 -->
<select id="selectReplyList"
		parameterType="_int"
		resultMap="replyResultSet">
		SELECT REPLY_NO,
		       REPLY_CONTENT,
		       USER_NO,
		        CASE 
		        WHEN (SYSDATE - CREATE_DATE) * 24 * 60 &lt; 5 THEN '방금 전'
		        WHEN (SYSDATE - CREATE_DATE) * 24 &lt; 1 THEN TRUNC((SYSDATE - CREATE_DATE) * 24 * 60) || '분 전'
		        WHEN (SYSDATE - CREATE_DATE) * 24 &lt; 24 THEN TRUNC((SYSDATE - CREATE_DATE) * 24) || '시간 전'
		        ELSE TRUNC(SYSDATE - CREATE_DATE) || '일 전'
		    END AS CREATE_DATE
		  FROM REPLY
		 WHERE BOARD_NO = #{boardNo}
		   AND STATUS = 'Y'
		 ORDER BY REPLY_NO DESC	
</select>

<!-- 댓글별 회원 프로필 조회용 -->
<select id="selectReplyMember"
		parameterType="reply"
		resultMap="memberResultSet">
SELECT MEMBER.NICK_NAME, MEMBER.CHANGE_NAME
  FROM REPLY
 JOIN MEMBER USING (USER_NO)
 JOIN BOARD USING (BOARD_NO)
 WHERE MEMBER.STATUS = 'Y'
   AND REPLY.STATUS = 'Y'
   AND BOARD.STATUS = 'Y'
   AND BOARD_NO = #{boardNo}
   AND REPLY_NO = #{replyNo}
</select>

<!-- 댓글 수정용 -->
<update id="updateReply"
		parameterType="reply">
	UPDATE REPLY
	   SET REPLY_CONTENT = #{replyContent} , MODIFY_DATE = SYSDATE
	 WHERE STATUS= 'Y'
	   AND REPLY_NO = #{replyNo}
</update>

<!-- 댓글 삭제용 -->
<update id="deleteReply"
		parameterType="reply">
	UPDATE REPLY
	   SET STATUS = 'N'
	 WHERE STATUS = 'Y'
	   AND REPLY_NO = #{replyNo}
</update>

</mapper>




