<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >

<!-- 유진 - tour-mapper.xml 파일 생성 (2024.06.10) -->
<mapper namespace="tourMapper">
	
	<!-- 유진 - 여행지 관련 resultMap -->
	<resultMap id="tourResultSet" 
			   type="tour">
		<result column="TOUR_NO" property="tourNo" />
		<result column="TOUR_NAME" property="tourName" />
		<result column="ADDRESS" property="address" />
		<result column="ADD_DATE" property="addDate" />
		<result column="CONTENT_ID" property="contentId" />
		<result column="THUMB_IMG" property="thumbImg" />
		<result column="MAP_X" property="mapX" />
		<result column="MAP_Y" property="mapY" />
		<result column="TOUR_TYPE" property="tourType" />
		<result column="STATUS" property="status" />
		<result column="REF_AREA" property="refArea" />
		<result column="REF_CITY" property="refCity" />
	</resultMap>
	
	<resultMap id="tourSpotResultSet" 
			   type="tsd">
		<result column="TOUR_NO" property="tourNo" />
		<result column="TOUR_NAME" property="tourName" />
		<result column="ADDRESS" property="address" />
		<result column="ADD_DATE" property="addDate" />
		<result column="CONTENT_ID" property="contentId" />
		<result column="THUMB_IMG" property="thumbImg" />
		<result column="MAP_X" property="mapX" />
		<result column="MAP_Y" property="mapY" />
		<result column="TOUR_TYPE" property="tourType" />
		<result column="STATUS" property="status" />
		<result column="REF_AREA" property="refArea" />
		<result column="REF_CITY" property="refCity" />	   
		
		<result column="SPOT_NO" property="spotNo" />
		<result column="SEASON" property="season" />
		<result column="USE_TIME" property="useTime" />
		<result column="TEL" property="tel" />
		<result column="PET" property="pet" />
		<result column="REF_TNO" property="refTno" />
	</resultMap>
	
	<resultMap id="lodgingResultSet" 
			   type="lod">
		<result column="TOUR_NO" property="tourNo" />
		<result column="TOUR_NAME" property="tourName" />
		<result column="ADDRESS" property="address" />
		<result column="ADD_DATE" property="addDate" />
		<result column="CONTENT_ID" property="contentId" />
		<result column="THUMB_IMG" property="thumbImg" />
		<result column="MAP_X" property="mapX" />
		<result column="MAP_Y" property="mapY" />
		<result column="TOUR_TYPE" property="tourType" />
		<result column="STATUS" property="status" />
		<result column="REF_AREA" property="refArea" />
		<result column="REF_CITY" property="refCity" />
			   
		<result column="L_NO" property="lNo" />
		<result column="ROOM_TYPE" property="roomType" />
		<result column="CHECK_IN" property="checkIn" />
		<result column="CHECK_OUT" property="checkOut" />
		<result column="COOK" property="cook" />
		<result column="TEL" property="tel" />
		<result column="PARKING" property="parking" />
		<result column="REF_TNO" property="refTno" />
	</resultMap>
	
	<resultMap id="restaurantResultSet" 
			   type="rd">
		<result column="TOUR_NO" property="tourNo" />
		<result column="TOUR_NAME" property="tourName" />
		<result column="ADDRESS" property="address" />
		<result column="ADD_DATE" property="addDate" />
		<result column="CONTENT_ID" property="contentId" />
		<result column="THUMB_IMG" property="thumbImg" />
		<result column="MAP_X" property="mapX" />
		<result column="MAP_Y" property="mapY" />
		<result column="TOUR_TYPE" property="tourType" />
		<result column="STATUS" property="status" />
		<result column="REF_AREA" property="refArea" />
		<result column="REF_CITY" property="refCity" />
		
		<result column="RD_NO" property="rdNo" />
		<result column="KID_ROOM" property="kidRoom" />
		<result column="FIRST_MENU" property="firstMenu" />
		<result column="TREAT_MENU" property="treatMenu" />
		<result column="TEL" property="tel" />
		<result column="OPEN_TIME" property="openTime" />
		<result column="REST_DATE" property="restDate" />
		<result column="REF_TNO" property="refTno" />
	</resultMap>
	
	<resultMap id="leportsResultSet" 
			   type="led">
		<result column="TOUR_NO" property="tourNo" />
		<result column="TOUR_NAME" property="tourName" />
		<result column="ADDRESS" property="address" />
		<result column="ADD_DATE" property="addDate" />
		<result column="CONTENT_ID" property="contentId" />
		<result column="THUMB_IMG" property="thumbImg" />
		<result column="MAP_X" property="mapX" />
		<result column="MAP_Y" property="mapY" />
		<result column="TOUR_TYPE" property="tourType" />
		<result column="STATUS" property="status" />
		<result column="REF_AREA" property="refArea" />
		<result column="REF_CITY" property="refCity" />
			   
		<result column="L_NO" property="lNo" />
		<result column="USE_TIME" property="useTime" />
		<result column="PARKING" property="parking" />
		<result column="PET" property="pet" />
		<result column="TEL" property="tel" />
		<result column="REF_TNO" property="refTno" />
	</resultMap>
	
	<resultMap id="tourImgResultSet" 
			   type="tourImg">
		<result column="TIMG_NO" property="timgNo" />
		<result column="CHANGE_NO" property="changeNo" />
		<result column="IMG_URL" property="imgUrl" />
		<result column="STATUS" property="status" />
		<result column="REF_TNO" property="refTno" />
	</resultMap>

	<!-- City VO 매퍼 -->
	<resultMap type="city" id="resultSetCity">
		<result column="SIGUNGU_CODE_NO" property="sigunguCodeNo"/>
		<result column="SIGUNGU_CODE" property="sigunguCode"/>
		<result column="SIGUNGU_NAME" property="sigunguName"/>
		<result column="CITY_XX" property="locationXX"/>
		<result column="CITY_YY" property="locationYY"/>
		<result column="REF_LCODE" property="refLcode"/>
	</resultMap>
	
	<!-- Districts VO 매퍼 -->
	<resultMap type="area" id="resultSetArea">
		<result column="LCODE_NO" property="lcodeNo"/>
		<result column="LOCATION_NAME" property="locationName"/>
		<result column="LOCATION_XX" property="locationXX"/>
		<result column="LOCATION_YY" property="locationYY"/>
	</resultMap>
	
	<!-- 현성 - 리뷰 -->
	<resultMap id="reviewResultSet" 
			   type="treview">
		<result column="REVIEW_NO" property="reviewNo" />
		<result column="REVIEW_TITLE" property="reviewTitle" />
		<result column="REVIEW_CONTENT" property="reviewContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="SCORE" property="score" />
		<result column="TOUR_NO" property="tourNo" />
		<result column="USER_NO" property="userNo" />
		<result column="NICK_NAME" property="nickName"/>
	</resultMap>
	
	<!-- 현성 - 회원 정보 -->
	<resultMap id="memberResultSet"
	   type="member">
		<result column="USER_NO" property="userNo" />	   
		<result column="USER_ID" property="userId" />
		<result column="USER_PWD" property="userPwd" />
		<result column="NICK_NAME" property="nickName" />
		<result column="NAME" property="name" />
		<result column="AGE" property="age" />
		<result column="EMAIL" property="email" />
		<result column="PHONE" property="phone" />
		<result column="ADDRESS" property="address" />
		<result column="GENDER" property="gender" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="STATUS" property="status" />
		<result column="MAIL_AUTH" property="mail_auth" />
		<result column="MAIL_KEY" property="mail_key" />
	</resultMap>
	
	<!-- 유진 - 관리자 여행지 목록 조회 쿼리문 (2024.06.10) -->
	<select id="adminTourList" 
			resultMap="tourResultSet">
		SELECT TOUR_NO, TOUR_NAME, ADDRESS, 
			   TO_CHAR(ADD_DATE, 'YYYY-MM-DD') AS ADD_DATE, 
			   CONTENT_ID, THUMB_IMG, MAP_X, MAP_Y, 
			   TOUR_TYPE, STATUS, REF_AREA, REF_CITY 
		  FROM TOUR 
		 WHERE STATUS = 'Y' 
	  ORDER BY ADD_DATE DESC
	</select>
	<!-- 김동현 -도시 목록 조회 쿼리문(2024.06.10) -->
	<select id="selectCity"
			parameterType="_int"
			resultMap="resultSetCity">
	SELECT *
	FROM CITY
	WHERE REF_LCODE = #{code}
	</select>
	
	<!-- 유진 - 관리자 여행지 추가 쿼리문 (2024.06.12) -->
	<insert id="insertTourSpotData" 
	        parameterType="tsd">
		INSERT ALL 
			   INTO TOUR (TOUR_NO, 
					 	  TOUR_NAME, 
					 	  ADDRESS, 
					 	  THUMB_IMG, 
					 	  TOUR_TYPE, 
					 	  MAP_X, 
					 	  MAP_Y) 
					VALUES(TOUR_DNO.CURRVAL, 
						   #{tourName}, 
						   #{address}, 
						   #{thumbImg}, 
						   #{tourtype}, 
						   #{mapX}, 
						   #{mapY}) 
			   INTO TOUR_SPOT (SPOT_NO, 
					 	  	   SEASON, 
					 	  	   USE_TIME, 
					 	  	   TEL, 
					 	  	   PET, 
					 	  	   REF_TNO) 
					VALUES(DETAIL_NO.NEXTVAL, 
						   #{season}, 
						   #{useTime}, 
						   #{tel}, 
						   #{pet}, 
						   TOUR_DNO.NEXTVAL)
				SELECT * FROM DUAL
	</insert>
	<insert id="insertLodgingData" 
	        parameterType="lod">
		INSERT ALL 
			   INTO TOUR (TOUR_NO, 
					 	  TOUR_NAME, 
					 	  ADDRESS, 
					 	  THUMB_IMG, 
					 	  TOUR_TYPE 
					 	  MAP_X, 
					 	  MAP_Y) 
					VALUES(TOUR_DNO.CURRVAL, 
						   #{tourName}, 
						   #{address}, 
						   #{thumbImg}, 
						   #{tourtype}, 
						   #{mapX}, 
						   #{mapY}) 
			   INTO LODGING (L_NO, 
					 	  	 ROOM_TYPE, 
					 	  	 CHECK_IN, 
					 	  	 CHECK_OUT, 
					 	  	 COOK, 
					 	  	 TEL, 
					 	  	 PARKING, 
					 	  	 REF_TNO) 
					VALUES(A_DNO.NEXTVAL, 
						   #{roomType}, 
						   #{checkIn}, 
						   #{checkOut}, 
						   #{cook}, 
						   #{tel}, 
						   #{parking}, 
						   TOUR_DNO.NEXTVAL)
				SELECT * FROM DUAL
	</insert>
	<insert id="insertRestaurantData" 
	        parameterType="rd">
		INSERT ALL 
			   INTO TOUR (TOUR_NO, 
					 	  TOUR_NAME, 
					 	  ADDRESS, 
					 	  THUMB_IMG, 
					 	  TOUR_TYPE 
					 	  MAP_X, 
					 	  MAP_Y) 
					VALUES(TOUR_DNO.CURRVAL, 
						   #{tourName}, 
						   #{address}, 
						   #{thumbImg}, 
						   #{tourtype}, 
						   #{mapX}, 
						   #{mapY}) 
			   INTO RESTAURANT (RD_NO, 
					 	  	    KID_ROOM, 
					 	  	    FIRST_MENU, 
					 	  	    TREAT_MENU, 
					 	  	    TEL, 
					 	  	    OPEN_TIME, 
					 	  	    REST_DATE, 
					 	  	    REF_TNO) 
					VALUES(R_DNO.NEXTVAL, 
						   #{kidRoom}, 
						   #{firstMenu}, 
						   #{treatMenu}, 
						   #{tel}, 
						   #{openTime}, 
						   #{restDate}, 
						   TOUR_DNO.NEXTVAL)
				SELECT * FROM DUAL
	</insert>
	<insert id="insertLeportsData" 
			parameterType="led">
		INSERT ALL 
			   INTO TOUR (TOUR_NO, 
					 	  TOUR_NAME, 
					 	  ADDRESS, 
					 	  THUMB_IMG, 
					 	  TOUR_TYPE 
					 	  MAP_X, 
					 	  MAP_Y) 
					VALUES(TOUR_DNO.CURRVAL, 
						   #{tourName}, 
						   #{address}, 
						   #{thumbImg}, 
						   #{tourtype}, 
						   #{mapX}, 
						   #{mapY}) 
			   INTO LEPORTS (L_NO, 
					 	  	 USE_TIME, 
					 	  	 PARKING, 
					 	  	 PET, 
					 	  	 TEL, 
					 	  	 REF_TNO) 
					VALUES(L_DNO.NEXTVAL, 
						   #{useTime}, 
						   #{parking}, 
						   #{pet}, 
						   #{tel}, 
						   TOUR_DNO.NEXTVAL)
				SELECT * FROM DUAL
	</insert>
	<insert id="insertTourImg" 
			parameterType="tourImg">
		INSERT INTO TOUR_IMG(TIMG_NO 
							 , REF_TNO 
		                     , CHANGE_NO) 
		                VALUES(TIMG_NO.NEXTVAL 
		                     , TOUR_DNO.CURRVAL 
		                     , #{changeNo})
	</insert>
	
	<!-- 김동현 - 지역 좌표 호출 SQL문 -->
	<select id="getLocationCity"
			parameterType="_int"
			resultMap="resultSetCity">
	SELECT *
	FROM CITY
	WHERE SIGUNGU_CODE_NO = #{sigunguCodeNo}
	</select>
	
	<select id="getLocationArea"
			parameterType="_int"
			resultMap="resultSetArea">
	SELECT *
	FROM DISTRICTS
	WHERE LCODE_NO = #{areaCode}
	</select>
	<!-- 김동현 - 페이징 처리에 사용할 count값반환 -->
	<select id="selectTourListCount"
			parameterType="hashmap"
			resultType="_int">
	SELECT COUNT(*)
	FROM TOUR
	WHERE TOUR_TYPE = #{type}
	AND ADDRESS LIKE '%'||#{name}||'%'
	AND STATUS = 'Y'
	</select>
	<!-- 페이징이 추가된 여행지 조회 select 문 -->
	<select id="selectTourList"
			parameterType="hashmap"
			resultMap="tourResultSet">
	SELECT *
	FROM (SELECT ROWNUM RN, TT.*
	        FROM (SELECT *
	                FROM TOUR
	                WHERE ADDRESS LIKE '%'||#{name}||'%'
	                AND TOUR_TYPE = #{type}
	                AND STATUS = 'Y'
	                ORDER BY TOUR_NAME ASC) TT)
	WHERE RN BETWEEN ${start} AND ${end}
	</select>
	<select id="searchTourListCount"
			parameterType="hashmap"
			resultType="_int">
	SELECT COUNT(*)
	FROM TOUR
	WHERE TOUR_TYPE = #{type} 
	<choose>
		<when test="option=='nameSearch'">
		AND ADDRESS LIKE '%'||#{name}||'%'
		AND TOUR_NAME LIKE '%'||#{keyword}||'%'	
		</when>
		<otherwise>
		AND ADDRESS LIKE '%'||#{name}||'%'
		AND ADDRESS LIKE '%'||#{keyword}||'%'
		</otherwise>
	</choose>
	AND STATUS = 'Y'
	</select>
	<select id="selectSearchList"
			parameterType="hashmap"
			resultMap="tourResultSet">
	SELECT *
	FROM (SELECT ROWNUM RN, TT.*
	        FROM (SELECT *
	                FROM TOUR
	                WHERE TOUR_TYPE = #{type}
	                <choose>
						<when test="option=='nameSearch'">
						AND ADDRESS LIKE '%'||#{name}||'%'
						AND TOUR_NAME LIKE '%'||#{keyword}||'%'	
						</when>
						<otherwise>
						AND ADDRESS LIKE '%'||#{name}||'%'
						AND ADDRESS LIKE '%'||#{keyword}||'%'
						</otherwise>
					</choose>
	                AND STATUS = 'Y'
	                ORDER BY TOUR_NAME ASC) TT)
	WHERE RN BETWEEN ${start} AND ${end}
	</select>
	<!-- 김동현 리뷰 추가 -->
	<insert id="addTourReview"
			parameterType="treview">
	INSERT INTO TOUR_REVIEW(REVIEW_NO
						  , REVIEW_TITLE
						  , REVIEW_CONTENT
						  , SCORE
						  , TOUR_NO
						  , USER_NO)
					 VALUES(TREVIEW_NO.NEXTVAL
					 	  , #{reviewTitle}
					 	  , #{reviewContent}
					 	  , #{score}
					 	  , ${tourNo}
					 	  , ${userNo})
	</insert>
	<select id="selectReviewCount"
			parameterType="hashmap"
			resultType="_int">
	SELECT COUNT(*)
	FROM TOUR_REVIEW
	WHERE TOUR_NO = #{tno}
	AND STATUS = 'Y'		
	</select>
	<select id="selectReviewList"
			parameterType="hashmap"
			resultMap="reviewResultSet">
	SELECT *
	  FROM (SELECT ROWNUM RN, TR.*
			  FROM ((SELECT REVIEW_NO,REVIEW_TITLE,REVIEW_CONTENT,TOUR_REVIEW.CREATE_DATE,SCORE,NICK_NAME
    				   FROM TOUR_REVIEW
    				   JOIN MEMBER USING(USER_NO)
    				  WHERE TOUR_NO = #{tno}
    					AND TOUR_REVIEW.STATUS = 'Y'
   				   ORDER BY TOUR_REVIEW.CREATE_DATE DESC) TR))
	 WHERE RN BETWEEN #{start} AND #{end}
	</select>
	<!-- 나현성 - 상세보기 06.17 -->
	<!-- 관광지 -->
	<select id="tourSpotDetail"
			parameterType="_int"
			resultMap="tourSpotResultSet">
		SELECT *
		FROM TOUR_SPOT
		WHERE REF_TNO = #{tourNo}
	</select>
	
	<!-- 숙박시설 -->
	<select id="lodgingDetail"
			parameterType="_int"
			resultMap="lodgingResultSet">
		SELECT *
		FROM LODGING
		WHERE REF_TNO = #{tourNo}
	</select>
	
	<!-- 식당/카페 -->
	<select id="restaurantDetail"
			parameterType="_int"
			resultMap="restaurantResultSet">
		SELECT *
		FROM RESTAURANT
		WHERE REF_TNO = #{tourNo}
	</select>
	
	<!-- 레포츠 -->
	<select id="leportsDetail"
			parameterType="_int"
			resultMap="leportsResultSet">
		SELECT *
		FROM LEPORTS
		WHERE REF_TNO = #{tourNo}
	</select>
	
	<!-- 이미지들 -->
	<select id="tourImgList"
			parameterType="_int"
			resultMap="tourImgResultSet">
		SELECT *
		FROM TOUR_IMG
		WHERE REF_TNO=#{tourNo}
		AND STATUS= 'Y'
	</select>
	
	<!-- 유진 - 관리자 여행지 조회 쿼리문 (Tour 객체에서만) (2024.06.19) -->
	<select id="getTourByNo" 
			parameterType="_int"
			resultMap="tourResultSet">
	    SELECT * 
	    	FROM TOUR 
	    WHERE TOUR_NO = #{tourNo} 
	</select>
	
	<!-- 유진 - 관리자 여행지 삭제 쿼리문 (2024.06.17) -->
	<update id="deleteTour" 
			parameterType="_int">
		UPDATE TOUR 
		   SET STATUS = 'N' 
		 WHERE TOUR_NO = #{tourNo}
		   AND STATUS = 'Y'
	</update>
	
	<!-- 현성 - 여행지 리뷰 리스트 -->
	<select id="reviewList"
			parameterType="_int"
			resultMap="reviewResultSet">
		SELECT *
		FROM TOUR_REVIEW
		WHERE TOUR_NO = #{tourNo}
		AND STATUS = 'Y'
		ORDER BY TOUR_NO
	</select>
	

	
	<!-- 현성 - 관리자 리뷰 회원 정보 리스트 -->
	<select id="reviewMemberList"
			parameterType="_int"
			resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		JOIN TOUR_REVIEW USING(USER_NO)
		WHERE TOUR_REVIEW.TOUR_NO = #{tourNo}
		AND TOUR_REVIEW.STATUS = 'Y'
	</select>	
	
	
	<!-- 현성 - 관리자 리뷰 삭제 -->
	<update id="reviewDelete"
			parameterType="_int">

		UPDATE TOUR_REVIEW 
		   SET STATUS = 'N' 
		 WHERE REVIEW_NO = #{reviewNo}
		   AND STATUS = 'Y'
	</update>
	
	<!-- 유진 - 관리자 여행지 추가이미지 파일들 조회 쿼리문 (2024.06.24) -->
	<select id="getTourImgsByTourNo" 
			parameterType="_int" 
			resultMap="tourImgResultSet">
		SELECT * 
		  FROM TOUR_IMG 
		 WHERE REF_TNO = #{tourNo}
	</select>
	
	<!-- 유진 - 관리자 여행지 수정 쿼리문 (2024.06.24) -->
	<update id="updateTour" 
			parameterType="tour">	   	   
		UPDATE TOUR 
		   SET TOUR_NAME = #{tourName}, 
		   	   ADDRESS = #{address}, 
		   	   THUMB_IMG = #{thumbImg}, 
		   	   MAP_X = #{mapX}, 
		   	   MAP_Y = #{mapY} 
		 WHERE TOUR_NO = #{tourNo}
	</update>
	
	<update id="updateTourSpotData" 
			parameterType="tsd">	   	   
		UPDATE TOUR_SPOT 
		   SET SEASON = #{season}, 
		   	   USE_TIME = #{useTime}, 
		   	   TEL = #{tel}, 
		   	   PET = #{pet} 
		 WHERE REF_TNO = #{refTno}
	</update>
	
	<update id="updateLodgingData" 
			parameterType="lod">
		UPDATE LODGING 
		   SET ROOM_TYPE = #{roomType}, 
		   	   CHECK_IN = #{checkIn}, 
		   	   CHECK_OUT = #{checkOut}, 
		   	   COOK = #{cook}, 
		   	   TEL = #{tel}, 
		   	   PARKING = #{parking} 
		 WHERE REF_TNO = #{refTno}
	</update>
	
	<update id="updateRestaurantData" 
			parameterType="rd">   	   
		UPDATE RESTAURANT 
		   SET KID_ROOM = #{kidRoom}, 
		   	   FIRST_MENU = #{firstMenu}, 
		   	   TREAT_MENU = #{treatMenu}, 
		   	   TEL = #{tel}, 
		   	   OPEN_TIME = #{openTime}, 
		   	   REST_DATE = #{restDate} 
		 WHERE REF_TNO = #{refTno}
	</update>
	
	<update id="updateLeportsData" 
			parameterType="led">	   
		UPDATE LEPORTS 
		   SET USE_TIME = #{useTime}, 
		   	   PARKING = #{parking}, 
		   	   PET = #{pet}, 
		   	   TEL = #{tel} 
		 WHERE REF_TNO = #{refTno}
	</update>
	
	<delete id="deleteTourImgsByTourNo">
        DELETE FROM TOUR_IMG
        WHERE REF_TNO = #{refTno}
    </delete>
	
 	<insert id="insertNewTourImg">
        INSERT INTO TOUR_IMG (TIMG_NO, CHANGE_NO, REF_TNO)
        VALUES (TIMG_NO.NEXTVAL, #{changeNo}, #{refTno})
    </insert>
</mapper>